@{
  Layout = "_Layout";
}

@model Tracker.Models.Vegetable

<h4>Add a new restaurant</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.VegetableType)
  @Html.TextBoxFor(model => model.VegetableType)
  <br>
  <br>
  @Html.LabelFor(model => model.VegetableAmount)
  @Html.TextBoxFor(model => model.VegetableAmount)
  <input type="submit" value="Add new meat" />
}
<p>@Html.ActionLink("Show all order templates", "Index", "OrderTemplates")</p>