@{
    Layout = "_Layout";
}

@model Tracker.Models.Restaurant;
@using Tracker.Models;
@using System.Collections.Generic;

<h2>Restaurant Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Location): @Html.DisplayFor(model => model.Location)</h3>
<h3>To add this restaurant to an order go to the deliveries page</h3>

<p>@Html.ActionLink("Edit this Restaurant", "Edit", new { id = Model.RestaurantId })</p>
<p>@Html.ActionLink("Delete Restaurant", "Delete", new { id = Model.RestaurantId })</p>
<p>@Html.ActionLink("Back to restaurants", "Index")</p>