@{
    Layout = "_Layout";
}

@model Tracker.Models.MeatOrder

@if (User.Identity.IsAuthenticated)
{
    @using (Html.BeginForm())
    {

        @Html.Label("Select restaurant ")
        @Html.DropDownList("RestaurantId")
        <br>
        <br>
        @Html.Label("Select meat template ")
        @Html.DropDownList("MeatId")

        <input type="submit" value="Save" />
    }
} else 
{
    <p>Please @Html.ActionLink("log in", "LogIn", "Account") to view or manage your order templates.</p>
}

