@{
    Layout = "_Layout";
}

@model Tracker.Models.Delivery

<h1>Deliveries Homepage</h1>
@using (Html.BeginForm())
{

    @Html.LabelFor(model => model.DeliveryName)
    @Html.TextBoxFor(model => model.DeliveryName)
        <br>
        <br>
    @Html.Label("Select Meat Order For Restaurant")
    @Html.DropDownList("MeatOrderId")
    <br>
    <br>
    @Html.Label("Select Vegetable Order For Restaurant")
    @Html.DropDownList("VegetableOrderId")
    <br>
    <br>
    @Html.Label("Select Alcohol Order For Restaurant")
    @Html.DropDownList("AlcoholOrderId")



    <input type="submit" value="Save" />
}